.header {
  height: 250px;
  width: 100%;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h1 {
  margin-top: 0px;
  font-size: 95px;
  color: white;
}

.form-div{
  display: flex;
  justify-content: center ;
  margin-top: 10px;
}

.form-div form > input{
  width: 300px;
  padding:20px 20px;
  border: none;
  border-bottom: 2px solid rgb(28, 162, 28);
  border-bottom-right-radius: 30%;
}

.form-div form > input:focus{
  outline:none;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  border-bottom: 5px solid rgb(28, 162, 28);
}

.form-div form > button {
  padding: 10px 10px;
  background-color: rgb(143, 196, 143);
  color:black;
  border-radius: 5px 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  font-size: 20px;
}